<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/srg_kosenko/Documents/School projects/Data Driven Project Udemy/TestDataProject"><classes><class name="banksuite.bankmanager.testcases.AddCustomerTest"><methods><include name="addCustomerTest"/></methods></class><class name="banksuite.bankmanager.testcases.OpenAccountTest"><methods><include name="openAccountTest"/></methods></class><class name="banksuite.customer.testcases.AddCustomerTest"><methods><include name="addCustomerTest"/></methods></class><class name="banksuite.customer.testcases.OpenAccountTest"><methods><include name="openAccountTest"/></methods></class><class name="utils.TestParametrization"><methods><include name="testData"/></methods></class></classes></test></suite>